@import "./Colors.scss";

.banner-background {
  position: relative;
  background-color: $primary;
  height: 100%;
  width: 100%;

  .home-container {
    .title-container {
      width: 100%;
      padding: 2rem;
      font-weight: 900;
      font-size: 96px;
      line-height: 121px;

      .title-subcontainer {
        width: 520px;

        .first-title, .second-title {
          color: $secondary;
        }

        span {
          color: $white;
        }
      }
    }

    .home-information-container {
      padding: 2rem;
      width: 50%;

      .paragraph-container {
        color: $white;

        span {
          font-weight: 600;
          font-size: 26px;
        }
      }
    }

    .button-container {
      a {
        background-color: $secondary;
        font-weight: 600;
        font-size: 26px;
      }
    }
  }

  .image-container {
    position: absolute;
    top: 15rem;
    right: 10rem;

    .image-responsive {
      width: 100%;
      max-width: 400px;
      height: auto;
      border-radius: 50%;
    }
  }
}




