@import "./Colors.scss";

.logo-container {
  position: relative;
  background: $primary;
  height: 1200px;
  .text {
    display: flex;
    align-items: center;
    justify-content: center;

    span {
      position: absolute;
      bottom: 50%;
      margin-bottom: -450px;
      font-style: normal;
      font-weight: 900;
      font-size: 400px;
      text-align:center;
      line-height: 300px;
      background-image: url("../images/maleMask.jpg");
      background-size: cover;
      background-clip: text;
      -webkit-background-clip: text;
      color: transparent;
    }
  }
}
