@import "./Colors.scss";

nav {
  background-color: $primary;
  height: 85px;

  .nav-wrapper {
    height: 100%;
    padding: 0 2rem;
    -webkit-box-shadow: 0 8px 6px -6px #001;
    -moz-box-shadow: 0 8px 6px -6px #001;
    box-shadow: 0 8px 6px -6px #001;
    .flexbox-container {
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between;
      img {
        height: 70px;
      }
      ul {
        li {
          margin: 0 35px;

          a {
            font-weight: 600;
            font-size: 26px;
          }
        }
      }
    }
  }
}
